<%- include('header') -%>

<div class="content">
  <h1>login page</h1>
  <form action="/login" method="post">
    <input type="text" name="username" />
    <input type="password" name="password" />
    <button type="submit">login</button>
  </form>
  <a href="/">home</a><br>
  <a href="/register">register</a>
</div>

<%- include('footer') -%>
