<%- include('header') -%>
<div class="p-4">
  <h3><%- user.username %></h3>
  <ul id="messages"></ul>
  <form onsubmit="return sendMessage()">
    <input class="form-control" id="message" type="text" name="message" /><br />
    <button class="btn btn-success" type="submit">send</button>
  </form>
</div>

<%- include('footer') -%>
