<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <script
      src="https://cdn.socket.io/3.1.1/socket.io.min.js"
      integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/login">login</a></li>
        <li><a href="/register">register</a></li>
        <li><a href="/users">users</a></li>
      </ul>
    </div>
