<%- include('header') -%>
<div class="p-4">
  <h1>Register</h1>
  <form action="/register" method="post">

    <div class="mb-3">
      <label class="form-label" for="username">username</label><br />
      <input class="form-control" type="text" name="username" /><br />
    </div>

    <div class="mb-3">
      <label class= for="username">email</label><br />
      <input class="form-control" type="email" name="email" /><br />
    </div>

    <div class="mb-3">
      <label class= for="username">password</label><br />
      <input class="form-control" type="password" name="password" />
    </div>

    <button class="btn btn-primary" type="submit">register</button>
  </form>
</div>
<%- include('footer') -%>
