<%- include('header') -%>
<div class="p-4">
  <h1>Users</h1>
  <ul class="list-group">
    <% users.forEach(function(user){ %>
    <li class="list-group-item"><a href="/chat?userid=<%- user.id %>"><%- user.username %></a></li>
    <% }); %>
  </ul>
</div>
<%- include('footer') -%>
